h4 Comments
each comment in comments
    div
        p.username.
            #{comment.username} : 
        p.contents.
            #{comment.content}
        p.time.
            #{comment.date}
        p.likes.
            #{comment.likes}
        form(action="/comment/like/#{comment.id}" method="get")
            input(type="submit" value="Like" id="like")