doctype html

html
    head
        title #{title}
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
        link(rel="stylesheet" href="/css/main.css")
    body
        
        .container-fluid
            .row
                .main(class="col-md-4")
                    h2.
                        #{title}
                    p.
                        #{description}
                    if auth == true

                        a(href="/logout" id="logout" type="button" class="btn btn-default").
                            logout
                   
                    if auth == false
                        a(href="/login" id="login" type="button" class="btn btn-default").
                            login
                        a(href="/login/facebook" id="login" type="button" class="btn btn-default").
                            facebook
                        a(href="/signup" id="signup" type="button" class="btn btn-default").
                                signup
                    a(href="/admin/home" type="button" class="btn btn-default")
                        span(class="glyphicon glyphicon-cog"). 
                            Admin
                .list(class="col-md-8 col-md-offset-4")
                    if auth == true
                        button(type="button" class="btn btn-default") 
                                form(action="/new")
                                    input(type="submit" value="+ New Post")
                    ul
                        each post in posts
                                li
                                    h3
                                        a(href="/post/#{post.id}").
                                            #{post.firstName}
                                        p.
                                            #{post.author}
                                        p.
                                            #{post.date}
                                    if auth == true
                                        a(href="/post/#{post.id}/delete" id="deletepost").
                                            delete


                    